@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="row">
        <div class="spb_content_element span12 spb_text_column">
            <div class="spb_wrapper clearfix">
                <p style="text-align: center;"><strong>Privacy Policy</strong></p><p><strong>Privacy Statement.</strong> Lawson Philippines, Inc. (“we”, “us’, or “our”) values the privacy of your Personal Data. Our employees, representatives as well as our agents shall, at all times, maintain and secure your Personal Data under strict confidentiality. We are committed to ensuring that such data shall only be gathered, processed, used and disclosed to said individuals on a “need-to-know” basis. We will investigate any breach or any unauthorized access against our system. Accordingly, we will prosecute those who are responsible and recover damages which the courts or any tribunal may deem appropriate.</p><p><strong>Collection of Personal Information.</strong> We collect the following personal information from you in order to process your query, comments and/or suggestions in order to improve our service.</p><p>We may ask you to provide us with the following:</p><p>
                    • First name and last name<br>
                    • Email address<br>
                    • Mobile number / Phone number<br>
                    • Your IP address<br>
                    • Other contact details and/or<br>
                    • Any information relevant to the feedback you have provided
                </p><p><strong>Purpose.</strong> Your Personal Data will be used for the following:</p><p>
                    1) To provide customer care and support;<br>
                    2) To provide immediate feedback to your queries, concerns, and/or comments; &amp;<br>
                    3) To provide you with an update on relevant product information, promos, discounts and other similar matters.
                </p><p><strong>User’s Consent.</strong> Please note that by freely and voluntarily providing such information, you are in effect giving your consent to use the same for the intended purposes mentioned above. The extent of the gathering and processing shall be necessary and incidental to the performance of the said purposes. You also agree to comply and be bound by the terms and conditions of this policy.</p><p><strong>Our Pledge.</strong> We promise to safeguard your Personal Information. We will utilize our best efforts to ensure that the information we receive from you via the Company’s email will be used only for the intended purposes. However, should you choose to voluntarily disclose your information publicly on our social media sites, you do so at your own risk. Consequently, you acknowledge the possibility that your personal information may be collected and used by a third party without your consent. Lawson cannot be held responsible should you receive unsolicited messages from third party as a result of such disclosure. Moreover, Lawson does not support or endorse any third-party online links, programs, discounts, services, content and the like.</p><p><strong>Disclosure.</strong> It may happen that we will be required to disclose your Personal Information by reason of the following: 1) compliance with a legal obligation, 2) protect and defend the rights or property of Lawson and/or its affiliates, and 3) protect the safety of our customers and employees. In case of third-party complainants, we may disclose your Personal Information to them upon reasonable investigation and verification that you have actually infringed upon their personal or property rights if requested by a court order or subpoena.</p><p>Lawson shall not be liable for disclosure of your Personal Information due to errors in transmission, unauthorized third-party access or other causes beyond our control.</p><p><strong>Amendments to this Privacy Policy.</strong> We reserve the right to amend this Privacy Policy without prior consent and/or notice. This policy statement may be revised periodically. Thus, we encourage you to review the same from time to time. Any changes in this Privacy Policy shall be effective when they are posted on this page.</p><p><strong>Talk to Us.</strong> If you have any questions about this Privacy Policy, do not hesitate to contact us:</p><p>
                    • By email: contact@lawson.tcapdm.com<br>
                    • By visiting our website: http://lawson.tcapdm.com/
                </p>
            </div>
        </div>
    </div>
</div>