<div class="container-fluid text-wrap" id="rfpContainer" style="display:none;">
    <div class="row">
        <div class="col-4 pb-3 text-center border-right border-bottom">
            <a class="text-decoration-none text-black-50" asp-area="" asp-page="/RFP/rfpDashboard">RFP Dashboard</a>
        </div>
        <div class="col-4 pb-3 text-center border-right border-bottom">
            <a class="text-decoration-none text-black-50" asp-area="" asp-page="/RFP/rfpIndex">View All RFP</a>
        </div>
        <div class="col-4 pb-3 text-center border-bottom">
            <a class="text-decoration-none text-black-50" asp-area="" asp-page="/RFP/rfpAdd">Create New RFP</a>
        </div>
    </div>
</div>