<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LPI in-house Website</title>
    <link rel="icon" type="image/x-icon" href="~/Lawson_Station_logo.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-custom-navbar border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <div class="align-middle">
                        <img src="~/Lawson_Station_logo.ico" class="img-fluid" alt="LPI Logo" width="25" height="25">
                        <span class="align-middle">LPI in-house Website</span>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @await Html.PartialAsync("_NavigationPartial")
                </div>
                <div class="mr-2">
                    <partial name="_LoginStatusPartial" />
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <!-- this container is used for additional navigation -->
            <partial name="_ExtraNavigationPartial" />
        </div>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="footX">
        <div class="container">
            &copy; 2023 - LPI in-house Website - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Include JS files in the correct order -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="~/js/site.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/datatables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
